.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    
}


#h1div{
    
    margin-top: 30vh;
    color:#032e4b;
    
    
}

#headername{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#logo{
    height: 90px;
    margin-top: 30vh;

   
}

#img{
    
    padding-right: 3%;
}
