#regSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    background: rgb(227,241,231);
  background: linear-gradient(45deg, rgba(227,241,231,1) 51%, rgba(56,163,165,1) 95%);
}

#regdiv{
    display: flex;
    background-color: #38A3A5;
    width: 80%;
    height: 124vh;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.107);
    border-radius: 20px;
    margin-top: 0vh;
}

#regimage{
    text-align: center;
    width: 50%;
    margin-top: 5vh;
    margin-left: 2vh;
}

#regimage h1{
  font-size: 4vh;
  color: #112d3f;
  margin-bottom: 0vh;
  
}

#regimage p{
  font-size: 2.3vh;
  color: #112d3f;
  text-align: left;
  margin:1vh;
  
}

#regimage li{
  font-size: 2.25vh;
  color: #112d3f;
  text-align: left;
  margin:0.5vh;
  margin-left: 5vh;
  
}

#head h1{
  font-size: 10vh;
  color: #112d3f;
}

#head div{
  align-items: center;
}



#RegisterFormDiv{
    padding: 10px 10px 10px 18px;
    background-color: #E3F1E7;
    height: 64.5vh;
    border-radius: 15px;
    width: 50%;
    margin: 2.5vh;
    height: 119vh;
}

#RegisterFormDiv form{
   
} 

#topic_Reg h2{
    margin:2vh 1vh 4vh 1vh;
    text-align: center;
    color: #112d3f;}

.row{
    display: flex;
    margin: 0px;
}

.cardreg{
    display:block;
    margin: 0px;
    width: 48%;
    margin-bottom: 0.4vh;
}
  #content {
    margin-top: 5vh;
  }
  
  .row,#pass {
    display: flex;
    justify-content: space-between;
  }
  
  
  .cardregsingle {
    width: 100%;
    margin-bottom: 0.4vh;
  }
  
.inputs{
  font-weight: 450;
  width: 97.5%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  margin: 1vh 0 1vh 0;
  outline: none; 
  background-color: #E3F1E7;
  border-width: 2px; 
  border: 1px solid #ccc;
  border-radius: 10px;
}

.inputs:focus{
  font-weight: 450;
  width: 97.5%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 8px;
  border-width: 0;
  border-radius: 10px;
  margin: 1vh 0 1vh 0;
  outline: none; 
  background-color: #E3F1E7;
  border-color: #38A3A5;
  border-width: 1px; 
  outline: none;
}

.inputssingle{
    font-weight: 450;
    width: 98.5%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    margin: 1vh 0 1vh 0;
    outline: none; 
    background-color: #E3F1E7;
    border-width: 2px; 
    border: 1px solid #ccc;
    border-radius: 10px;

}


.inputssingle:focus{
  font-weight: 450;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 8px;
  border-width: 0;
  border-radius: 10px;
  margin: 1vh 0 1vh 0;
  outline: none; 
  background-color: #E3F1E7;
  border-color: #38A3A5;
  border-width: 1px; 
  outline: none;
}

  

  .btnRegister {
    margin: 0 10px;
    padding: 1.2vh 2vh;
    background: #38A3A5;
    border-radius: 25px;
    border: 0px;
    color: #E3F1E7;
    font-size: 18px;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: background-color 0.5s, transform 0.5s ease;
  }

  
  .btnRegister:hover {
    background: #2c7a7c; /* darker shade of the original background color */
    transform: scale(1.05); /* scale up slightly on hover */
  }
  
  .btnRegister:active{
    transform: scale(0.95); /* scale down slightly when clicked */

  }

  #buttons{
    align-items: center;
    width: 100%;
    margin-bottom: 1.2vh;
    margin-top: 1.2vh;   
  }
  
  #button_Reg {
    
      text-align: center; 
      margin-top: 1.2vh; 
      margin-bottom: 1.2vh;   
    
    
  }
  
  #errors {
    margin-left: 4vh;
    transition: margin 0.5s ease;
    
    margin: 1vh 4vh;     /* Add margin to the top and both sides */
    transition: margin 0.5s ease;
    
  }
  
  .check {
    
    justify-content: space-between;
    align-items: center;
  }
  
  .cardregtype {
    width: 100%;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
  }
  
  .cardregtype p {
    margin-bottom: vh;
  }
  
.cardregtype p {
  margin-bottom: 0.5vh; /* Adjust margin for better spacing */
}

.cardregtype input,
.cardregtype label {
  margin-right: 1vh; /* Adjust margin for spacing between checkbox and text label */
  margin-top: 0.5vh;
}
  .chkbox {
    margin: 0 0.5vh; 
    height: 16px;
    width: 16px;
    border-color: #112d3f;
  }

#GRegister {
    margin: 0 10px;
    padding: 1.2vh 2vh;
    background: #38A3A5;
    border-radius: 25px;
    border: 0px;
    color: #E3F1E7;
    font-size: 18px;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: background-color 0.5s, transform 0.5s ease;
}

#GRegister:hover {
  background: #2c7a7c; /* darker shade of the original background color */
  transform: scale(1.05); 
}

#GRegister:active {
  transform: scale(0.95); /* scale down slightly when clicked */

}

  
#linksign{
  color: #112d3f;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 1vh;
}