#eventcard{
    text-align: left;
    margin: 1% 15% 1% 15%;
    border-style: solid;
    padding: 0px 30px 30px 30px;
    border-color: #bababa;
    border-radius: 20px;
}

#eventcard h1{
    text-align: left;
}

#eventcard h5{
    color: #bababa;
   
}

